<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lấy lại mật khẩu</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <style>
        .pass_show{position: relative}

        .pass_show .ptxt {

            position: absolute;

            top: 50%;

            right: 10px;

            z-index: 1;

            color: #f36c01;

            margin-top: -10px;

            cursor: pointer;

            transition: .3s ease all;

        }

        .pass_show .ptxt:hover{color: #333333;}
    </style>

    <script>
        $(document).ready(function(){
            $('.pass_show').append('<span class="ptxt">Show</span>');
        });
    </script>
    <script>
        $(document).on('click','.pass_show .ptxt', function(){

            $(this).text($(this).text() == "Show" ? "Hide" : "Show");

            $(this).prev().attr('type', function(index, attr){return attr == 'password' ? 'text' : 'password'; });
        });
    </script>
</head>
<body>
<div class="row justify-content-sm-center">
    <div class="col col-md-5 text-center">

            <div>
                <h2>Thay đổi mật khẩu</h2>
            </div>

            <div th:if="${message != null}">
                <p class="text-warning">[[${message}]]</p>
            </div>

            <form th:action="@{/reset_password}" method="post" style="max-width: 350px; margin: 0 auto;">
                <input type="hidden" name="token" th:value="${token}" />

            <label>Nhập Password Mới</label>
            <div class="form-group pass_show">
                <input type="password" name="password" id="password" class="form-control" minlength=6
                       placeholder="Nhập password mới" required>
            </div>
            <label>Nhập Lại Password Mới</label>
            <div class="form-group pass_show">
                <input type="password" class="form-control" placeholder="Nhập lại password mới"
                       required oninput="checkPasswordMatch(this);" />
            </div>
                <div class="form-row py-1">
                    <button type="submit"
                            class="btn btn-success btn-lg btn-block signup-btn">Đổi mật khẩu</button>
                </div>
            </form>

    </div>
</div>

<script type="text/javascript">
    function checkPasswordMatch(fieldConfirmPassword) {
        if (fieldConfirmPassword.value != $("#password").val()) {
            fieldConfirmPassword.setCustomValidity("Passwords không giống nhau");
        } else {
            fieldConfirmPassword.setCustomValidity("");
        }
    }
</script>
</body>
</html>