<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
	<div class="container">
		<div class="">
			<div class="logo">
				<a th:href="@{/itwatch}"><img src="/assets/images/itwatch.png" width="200px" height="75px" alt=""></a>
			</div>
			<div class=" h_menu4" style="margin-top: 20px;">
				<ul class="memenu skyblue">
					<li class="grid"><a class="color1" th:href="@{/itwatch}">VỀ ITWATCH</a></li>
					<li><a class="color1" th:href="@{/itwatch/product}">SẢN PHẨM</a>
						<div class="mepanel">
							<div class="row">
								<div class="col1">
									<div class="h_nav">
										<h4>Khoảng giá</h4>
										<form th:action="@{|/itwatch/product/search|}" method="post">
											<ul>
												<li value="1"><a th:href="@{/itwatch/product/price/1}">Dưới 2
														triệu</a></li>
												<li value="2"><a th:href="@{/itwatch/product/price/2}">Từ 2 triệu đến
														5 triệu</a></li>
												<li value="3"><a th:href="@{/itwatch/product/price/3}">Từ 5 triệu đến
														10 triệu</a></li>
												<li value="4"><a th:href="@{/itwatch/product/price/4}">Từ 10 triệu
														đến 15 triệu</a></li>
												<li value="5"><a th:href="@{/itwatch/product/price/5}">Từ 15 triệu
														đến 20 triệu</a></li>
												<li value="6"><a th:href="@{/itwatch/product/price/6}">Từ 20 triệu
														đến 25 triệu</a></li>
												<li value="7"><a th:href="@{/itwatch/product/price/7}">Trên 25
														triệu</a></option>
											</ul>
										</form>
									</div>
								</div>

								<div class="col1">
									<div class="h_nav">
										<h4>Loại dây</h4>
										<ul>
											<li class="" th:each="strap : ${straps}"><a
													th:href="@{|/itwatch/product/strap/${strap.id}|}">[[${strap.name}]]</a>
											</li>
										</ul>
									</div>
								</div>

								<div class="col1">
									<div class="h_nav">
										<h4>Size mặt</h4>

										<ul>
											<li class="" th:each="size : ${sizes}"><a
													th:href="@{|/itwatch/product/size/${size.id}|}">[[${size.name}]]</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li><a class="color1" href="#">THƯƠNG HIỆU</a>
						<div class="mepanel">
							<div class="row">
								<div class="col_menu">
									<div class="h_nav">
										<ul>
											<li class="col-md-3" th:each="brand : ${brands}"><a
													th:href="@{|/itwatch/brand/${brand.name}|}">[[${brand.name}]]</a>
											</li>
										</ul>
									</div>
								</div>

							</div>
						</div>
					</li>
					<li class="grid"><a class="color1" th:href="@{/itwatch/chinhSachBaoHanh}">CHÍNH SÁCH BẢO HÀNH</a>
					</li>
<li th:if="${#request.isUserInRole('ADMIN') || #request.isUserInRole('USER')}">
									<a th:href="@{/admin}">QUẢN TRỊ</a>
									</li>
					<li><a class="color1" href="#">TÀI KHOẢN</a>
						<div class="mepanel">
							<div class="row">
								<div class="col-sm-3">
									<div class="h_nav">
										<ul>
											<li><a th:href="@{/itwatch/account/view}">Thông Tin Tài
													Khoản</a></li>
										</ul>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="h_nav">
										<ul>
											<li><a th:href="@{/itwatch/account/history}">Lịch
													Sử Mua Hàng</a></li>
										</ul>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="h_nav">
										<ul>
											<li><a th:href="@{/itwatch/account/favorite}">Sản
													Phẩm Yêu Thích</a></li>
										</ul>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="h_nav">
										<ul>
											<li><a th:href="@{/itwatch/account/changePassword}">Đổi
													Mật Khẩu</a></li>
										</ul>
									</div>
								</div>

							</div>
						</div>
					</li>
				</ul>
			</div>

			<div class="clearfix"></div>
		</div>
	</div>
</body>

</html>