<!DOCTYPE html>
<html lang="en">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <script src="https://kit.fontawesome.com/yourcode.js"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
</head>
<body>
	<div class="container">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li class="nav-item"><a class="nav-link active"
				data-toggle="tab" data-target="#home" href="">Danh Sách Size</a></li>
			<li class="nav-item"><a class="nav-link " data-toggle="tab"
				data-target="#menu1" href="" ng-click="reset1()">Thêm mới/Chỉnh sửa</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content card">
			<div id="home" class="container tab-pane active">
				<div class="mt-3 d-flex flex-row-reverse">
					<div class="p-2 input-group input-group-sm col-sm-3 ">
						<input type="text" class="form-control" placeholder="Search"
							id="keyword" ng-model="search.name ">
						<div class="input-group-prepend">
							<button class="input-group-text" type="submit"
								ng-click="timKiem()">Lọc</button>
						</div>
					</div>
					<div class="p-2 col-sm-2">
						<select id="trangThai" ng-model="status" ng-change="genderStart()"
							class="form-control form-control-sm">
							<option value="">-- Tất cả --</option>
							<option value="true">Hoạt động</option>
							<option value="false">Dừng hoạt động</option>
						</select>
					</div>
				</div>
				<table class="table table-bordered table-sm mt-3">
					<thead>
						<tr>
							<th>Mã Size</th>
							<th>Tên Size</th>
							<th>Trạng thái</th>
							<th>Hành Động</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in pager.items">
							<td>{{item.id}}</td>
							<td>{{item.name}}</td>
							<td>{{item.status? 'Hoạt động':'Dừng hoạt động'}}</td>
							<td>
								<button ng-click="edit(item)"
									class="btn btn-primary fa fa-wrench">
									<!-- Chỉnh sửa -->
								</button>
								<button ng-click="delete(item)"
									class="btn btn-danger fa fa-trash">
									<!-- Xóa -->
								</button>
							</td>
						</tr>
					</tbody>
				</table>
				<div class=" text-center mb-3">
					<button class="btn btn-danger" ng-click="pager.first()">
						<b class="fa fa-hand-o-up "></b>
					</button>
					<button class="btn btn-primary" ng-click="pager.prev()">
						<b class="fa fa-hand-o-left"></b>
					</button>

					<button class="btn btn-success">{{pager.page + 1}} of
						{{pager.count}}</button>

					<button class="btn btn-primary" ng-click="pager.next()">
						<b class="fa fa-hand-o-right"></b>
					</button>
					<button class="btn btn-danger" ng-click="pager.last()">
						<b class="fa fa-hand-o-down"></b>
					</button>
				</div>
			</div>
			<div id="menu1" class="container tab-pane">
				<div class="row mb-3 p-3">
					<div class="col-sm-4 text-center ">
						<label for="image"> <img alt=""
							src="https://donghotantan.vn/wp-content/uploads/2021/07/bang-size-dong-ho-theo-co-tay-b11.png" class="img-rounded" width="304"
							height="200">
						</label>
					</div>
					<div class="ml-3 col-sm-7">
						<div class="row">
							<label>Mã Size</label> <input ng-model="form.id"
								class="form-control form-control-sm" disabled="disabled">
						</div>
						<div class="row">
							<label>Tên Size</label> <input ng-model="form.name" id = "sizeName" maxlength="255"
								class="form-control form-control-sm">
						</div>
						
						<div class="row">
							<label>Trạng thái</label>
							<div class="form-control form-control-sm">
								<label class="radio-inline"> <input
									ng-model="form.status" ng-value="true" name="available"
									type="radio"> Hoạt động
								</label>&ensp; <label class="radio-inline"> <input
									ng-model="form.status" ng-value="false" name="available"
									type="radio"> Dừng hoạt động
								</label>
							</div>
						</div>
					</div>
				</div>

				<div class="text-center mb-3">
					<button class="btn btn-primary" ng-click="create()" ng-disabled="form.id != null">
						<i class="fa fa-plus" aria-hidden="true"></i> Thêm
					</button>
					<button class="btn btn-warning" ng-click="update()">
						<i class="fa fa-wrench" aria-hidden="true"></i> Cập Nhật
					</button>
				
					<button class="btn btn-info" ng-click="reset()">
						<i class="fa fa-refresh" aria-hidden="true"></i> Xóa Form
					</button>
				</div>
			</div>
		</div>
	</div>

</body>
</html>