<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
    />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  </head>
  <style type="text/css">
    .container {
      margin-top: 30px;
    }

    .menten {
      border: 1px solid transparent;
      border-radius: 10pt;
      width: 255px;
      margin-bottom: 10px;
      background-color: #eae2d9;
      font-weight: 800;
    }
    .menten > h4 {
      color: black;
      font-family: serif;
    }

    .title {
      color: black;
      margin-left: 10px;
    }

    .mount {
      color: #d21217;
      margin-left: 20px;
      font-weight: 600;
    }

    .selectNam {
      width: 120px;
      height: 20px;
      margin-left: 10px;
    }

    .image img {
      height: 100px;
      width: 150px;
    }

    .nameDh > h6 {
      margin: 5px 5px 5px 5px;
      color: orange;
    }

    .amount > h6 {
      width: 160px;
    }

    .khung {
      margin-left: 10px;
    }
    .gachchitietloi {
      text-decoration: underline;
    }
    .img-small {
      width: 30%;
      height: auto; /* Đảm bảo tỷ lệ khung hình không bị biến đổi */
    }
    /* .cotthongke{
		width: 200px;
		} */
  </style>
  <body>
    <!-- menu -->
    <div class="container" style="min-width: 1300px">
      <div class="container">
        <div class="col-sm-3">
          <h3 class="page-title" style="width: 350px">Thống kê doanh thu</h3>
        </div>
        <br />
        <br />
        <div class="row">
          <div class="col-sm-4">
            <div class="menten text-center">
              <h4 class="title">Tổng Doanh Thu</h4>
              <h3 class="mount">{{total}} VND</h3>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="menten text-center">
              <h4 class="title">Số lượng khách đã mua</h4>
              <h3 class="mount">{{account}}</h3>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="menten text-center">
              <h4 class="title">Số đơn hoàn thành</h4>
              <h3 class="mount">{{order}}</h3>
            </div>
          </div>
        </div>

        <hr />
        <div class="row">
          <div class="col-sm-4">
            <h4 class="title">Thống kê doanh thu theo năm</h4>
          </div>

          <div class="col-sm-2 input-group-sm mb-3">
            <h5 class="title">Tháng/năm:</h5>
            <input
              type="text"
              id="namTke"
              name="namTke"
              value="{{namTke}}"
              class="form-control"
              placeholder="Nhập tháng năm!"
              style="width: 120px"
              ng-blur="checkKyThangInput('namTke');"
            />
          </div>
          <div class="form-group col-sm-2">
            <h5 class="title">Loại đồng hồ:</h5>
            <select
              ng-model="formProduct.category.categoryId"
              id="categoySelect"
              class="form-control form-control-sm"
            >
              <option value="">-- Chọn --</option>
              <option ng-repeat="c in cates" ng-value="c.categoryId">
                {{c.name}}
              </option>
            </select>
          </div>
          <div class="form-group col-sm-2">
            <h5 class="title">Hãng:</h5>
            <select
              ng-model="formProduct.brand.brandId"
              id="brandSelect"
              class="form-control form-control-sm"
            >
              <option value="">-- Chọn --</option>
              <option ng-repeat="c in brand" ng-value="c.brandId">
                {{c.name}}
              </option>
            </select>
          </div>
          <div class="form-group col-sm-2">
            <h5 class="title">&emsp;&emsp;&emsp;</h5>
            <input
              type="button"
              style="width: 90px; margin-left: 10px; height: 31px"
              value="Tìm kiếm"
              ng-click="searchdThu();"
              class="btn btn-info"
            />
          </div>
        </div>
        <div>
          <div class="col-sm-12">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Mã sản phẩm</th>
                  <th scope="col">Tên sản phẩm</th>
                  <th scope="col">Loại đồng hồ</th>
                  <th scope="col">Hãng đồng hồ</th>
                  <th scope="col">Số lượng mua</th>
                  <th scope="col">Tổng tiền</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in pager.itemsProduct">
                  <td>{{item.id}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.brand}}</td>
                  <td>{{item.cate}}</td>
                  <td>{{item.quantity}}</td>
                  <td>{{item.total}} VND</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div align="right">
            <button class="btn btn-danger" ng-click="pager.first()">
              <b class="fa-solid fa-backward"></b>
            </button>
            <button class="btn btn-primary" ng-click="pager.prev()">
              <b class="fa-sharp fa-solid fa-arrow-left"></b>
            </button>

            <button class="btn btn-success">
              {{pager.page + 1}} of {{pager.count}}
            </button>

            <button class="btn btn-primary" ng-click="pager.next()">
              <b class="fa-sharp fa-solid fa-arrow-right"></b>
            </button>
            <button class="btn btn-danger" ng-click="pager.last()">
              <i class="fa-solid fa-forward"></i>
            </button>
          </div>
        </div>

        <div class="">
          <h4 class="title">Top sản phẩm được mua nhiều nhất</h4>
          <div class="row">
            <div class="col-sm-4" ng-repeat="item in product">
              <div class="khung">
                <div class="image">
                  <img alt="" src="/assets/images/{{item.image}}" />
                </div>
                <div class="nameDh">
                  <h6>{{item.name}}</h6>

                  <div class="amount">
                    <h6>{{item.price}} VND</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h4 class="title" style="margin-top: 10px">
            Top tài khoản mua nhiều nhất
          </h4>
          <div class="row">
            <div class="col-sm-4" ng-repeat="item in accountTop">
              <div class="khung">
                <div class="image">
                  <img alt="" src="/assets/images/{{item.image}}" />
                </div>
                <div class="nameDh">
                  <h6>{{item.fullname}}</h6>

                  <div class="amount">
                    <h6>Số lần mua hàng: {{item.totalOrder}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page Content -->
    </div>
  </body>
</html>
