<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/index.html}">

<head>
    <title>Sản phẩm</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link href="/assets/user/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/assets/user/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="/assets/user/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/assets/css/khungsp.css" rel="stylesheet" type="text/css" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="New Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
   Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <!-- start menu -->
    <link href="/assets/user/memenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="/assets/user/memenu.js"></script>

    <script>
        $(document).ready(function() {
            $(".memenu").memenu();
        });
    </script>
    <script src="/assets/user/simpleCart.min.js">
    </script>
    <style type="text/css">
        .boloc {
            background: red;
        }
        
        .breadcrumb-item>a {
            color: black;
        }
    </style>
</head>

<body layout:fragment="content" onload="renderData()">
    <div>
        <div class="container">
            <div class="nav-bre" style="margin-top: 20px;">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/itwatch}">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a th:href="@{/itwatch/product}">Sản Phẩm</a></li>
                    </ol>
                </nav>
            </div>
            <div th:replace="user/product/navleftSP.html"></div>
         <!--     <div th:replace="user/product/slideSp.html"></div> -->
            <div th:replace="user/product/boLocSapxep.html"></div>
            <div layout:fragment="content2"></div>
            <div class="clearfix"></div>

            <div id="posts"></div>
            <br><br>
            <div id="pagination"></div>
            <input type="hidden" th:value="${totalPages}" id="totalPages" name="totalPages">
            <input type="hidden" th:value="${limit}" id="limit" name="limit">
            <input type="hidden" th:value="${size}" id="size" name="size">
            <input type="hidden" th:value="${listproduct}" id="listproduct" name="listproduct">

        </div>
    </div>
    <script>
         
        var data = document.getElementById("listproduct").value;
        var data1 = data.toString().split(';');
        let size = document.getElementById("size").value;
        var totalPages = document.getElementById("totalPages").value;
        //let currentPage = document.getElementById("page").value;
        var currentPage = 1;
        var perPage = 12;
        var perPost = [];

        function renderData() {
            var post = '';
            perPost.map(value => {
                post += `<div> <input type="text" th:value="${value.name}" id="" name=""> </div>`;
            })
            document.getElementById('posts').innerHTML = post;


        }

        /**function handlePage(key) {
             
            currentPage = key;
            perPost = data.slice(
                (currentPage - 1) * perPage,
                (currentPage - 1) * perPage + perPage
            )
            perPost.map(value => {
                document.getElementById('posts').innerHTML += `<div> <input type="text" th:value="${value.name}" id="" name=""> </div>`;
            })

        }
        for (var i = 1; i <= totalPages; i++) { //pagination
            document.getElementById('pagination').innerHTML += `<input type="button" value="${i}" onclick="handlePage(${i})"/>`;

        }*/
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!---->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> -->
    <script type="text/javascript" src="/assets/js/jquery.twbsPagination.js"></script>
</body>


</html>